<ion-view view-title="Settings">
  <ion-content>
    <div id="userButtons">
	      <input type="file" id="fileInput">
	      <select data-inline="true" id="voiceselection">
	          <option value='US English Female'>US English Female</option>
						<option value='UK English Female'>UK English Female</option>
	          <option value='UK English Male'>UK English Male</option>
	          <option value='Spanish Female'>Spanish Female</option>
	          <option value='French Female'>French Female</option>
	          <option value='Deutsch Female'>Deutsch Female</option>
	          <option value='Italian Female'>Italian Female</option>
	          <option value='Greek Female'>Greek Female</option>
	          <option value='Hungarian Female'>Hungarian Female</option>
	          <option value='Russian Female'>Russian Female</option>
	          <option value='Dutch Female'>Dutch Female</option>
	          <option value='Swedish Female'>Swedish Female</option>
	          <option value='Japanese Female'>Japanese Female</option>
	          <option value='Korean Female'>Korean Female</option>
	          <option value='Chinese Female'>Chinese Female</option>
	          <option value='Hindi Female'>Hindi Female</option>
	          <option value='Serbian Male'>Serbian Male</option>
	          <option value='Croatian Male'>Croatian Male</option>
	          <option value='Bosnian Male'>Bosnian Male</option>
	          <option value='Romanian Male'>Romanian Male</option>
	          <option value='Fallback UK Female'>Fallback UK Female</option>
	      </select>
	  </div>
  </ion-content>
</ion-view>
